html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: var(--my-font);
  font-size: var(--my-font-size);
  font-style: normal;
  font-weight: 400;
  color: var(--color-white);
  word-wrap: break-word;
  background-color: var(--color-black);  
}
